h3 {
    color: violet;
}

body {
    background-color: #011627;
}

.student-card{
    border: 1px solid darkgray;
    padding: 8px;
    border-radius: 15px;
    margin: 15px 5px;
    width: 350px;
    display: flex;
    justify-content: flex-start;    
}

.student-card h4 {
    color: antiquewhite;
}

.student-header {
    color: whitesmoke    
}

.photo-card {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.student-info {
    flex: 2;
}